/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'poiret_oneregular';
    src: url('../fonts/poiretone/poiretone-regular-webfont.eot');
    src: url('../fonts/poiretone/poiretone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poiretone/poiretone-regular-webfont.woff2') format('woff2'),
         url('../fonts/poiretone/poiretone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karla-regular';
    src: url('../fonts/karla/karla-regular-webfont.eot');
    src: url('../fonts/karla/karla-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karla-bold';
    src: url('../fonts/karla-bold/karla-bold-webfont.eot');
    src: url('../fonts/karla-bold/karla-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-bold/karla-bold-webfont.woff2') format('woff2'),
         url('../fonts/karla-bold/karla-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karla-bolditalic';
    src: url('../fonts/karla-bolditalic/karla-bolditalic-webfont.eot');
    src: url('../fonts/karla-bolditalic/karla-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-bolditalic/karla-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/karla-bolditalic/karla-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karla-italic';
    src: url('../fonts/karla-italic/karla-italic-webfont.eot');
    src: url('../fonts/karla-italic/karla-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-italic/karla-italic-webfont.woff2') format('woff2'),
         url('../fonts/karla-italic/karla-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pacifico-regular';
    src: url('../fonts/pacifico/pacifico-regular-webfont.eot');
    src: url('../fonts/pacifico/pacifico-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pacifico/pacifico-regular-webfont.woff2') format('woff2'),
         url('../fonts/pacifico/pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: poiret_oneregular;
	font-size: 16px;
}

*:active {
	outline: none;
}

* {
	text-decoration: none;
}
